@using OrchardCore.ContentManagement
@{
    ContentItem contentItem = Model.ContentItem;
}

<section class="contact-form-section py-5">
    <div class="container">
        @await Component.InvokeAsync("ContactFormWidget", new { contentItem = contentItem })
    </div>
</section>
